/* Shopping Controller */

#inventory-controller{
	background-color: #FFF;
	padding: 0px 10px;
	width: 100%;
	display: inline-block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Shopping - General */
#inventory:first-child{
	margin-top: 10px;
}

#inventory:last-child{
	margin-bottom: 50px;
}

/* Shopping Controller - Content */
.item{
	display: inline-block;
	font-size: 1rem;
	border: 1px solid rgba(0,0,0,.2);
	padding: 10px;
	margin: 8px 0;
}

.title{
	font-weight: bold;
}

#item-description{
	margin-bottom: 0;
	width: 100%;
}

/* Shopping Controller - Content - Columns */
.item .item-col{
	margin: 0;
	vertical-align: top;
}

.item-col p{
	margin-top: 0;
}

.item-col button{
	width: 80px;
	float: right;
}

@media (min-width:768px){
	/* Shopping - General */
	#inventory:first-child{
		margin-top: 0;
	}

	#inventory-controller{
		width: 70%;
		padding: 0px 10%;
	}
	
	/* Shopping Controller - Content */
	.item{
		margin-top: 0px;
	}
}

@media (min-width:1200px){
	/* Shopping Controller - Content - Columns */
	.item-col button{
		width: 100px;
	}
}


