/* Shopping Controller */

#inventory-controller{
	background-color: #FFF;
	padding: 20px 10% 0 10%;
	width: 70%;
	display: inline-block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Shopping Controller - Content - General */

.item{
	font-size: 1rem;
	border: 1px solid rgba(0,0,0,.1);
	padding: 10px;
	display: flex; /*Needed to get rid of automatic inline element gaps in children elements */
}

button{
	display: inline-block;
}

.title{
	font-weight: bold;
}

/* Shopping Controller - Content - Sections */

.item-left,
.item-center,
.item-right{
	display: inline-block;
}

.item-left{
	width: 65%;
}

.item-center{
	width: 20%;
	text-align: center;
}

.item-right{
	width: 15%;
}

