/* Modal Cart - Content */

.modal-cart-content{
	position: relative;
	display: inline-block;
	top: 10%;
	width: 80%;
	max-width: 330px;
	padding: 0 5% 50px 5%;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.1);
}

.cart-row{
	text-align: left;
	margin: 3px auto 3px auto; 
	width: calc(100% - 40px); /* The addition of both side paddings */
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	max-width: 325px;
	padding: 10px 20px 10px 20px;
	border: 1px solid rgba(0,0,0,.1);
}

#cart-total{
	text-align: left;
}

/* Modal Cart - Buttons */

.cart-remove-btn{
	margin: auto;
	margin-top: 12px;
	padding: 3px;
}

#cart-btns{
	position: absolute;
	bottom: -1px;
	left: -1px;
}

#cart-btns button{
	padding: 10px 20px;
	float: left;
}