/* Side Cart Controller */
#side-cart-controller{
	text-align: center;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

/* Cart Button */
#side-view-cart-btn{
	display: inline-block;
	width: 100%;
	height: 60px;
	padding: 3px;
}

@media (min-width:768px){
	
	/* Side Cart Controller */
	#side-cart-controller{
		width: 25%;
		float: right;
	}
	
	/* Cart Button */
	#side-view-cart-btn{
		width: auto;
		padding: 10px 20px;
	}
}

@media (min-width: 1200px){
	
	/* Cart Button */
	#side-view-cart-btn{
		height: 80px;
		padding: 15px 25px;
	}
}
