<div id="inventory" ng-repeat="item in inventory">
	<div class="item row">
		<div class="col-sm-whole col-md-half item-col">
			<p><span class="title">Chocolate Type: </span>{{item.type}}</p>
			<p id="item-description"><span class="title">Description: </span>{{item.description}}</p>
		</div>
		<div class="col-sm-whole col-md-fourth item-col">
			<p><span class="title">Price: </span>${{item.priceString}}</p>
		</div>
		<input type="number" ng-model="quantity" />
		<div class="col-sm-whole col-md-fourth item-col">
			<button ng-click="shoppingCart.addItem(item, quantity)" class="add-to-cart-btn">Add </br>to cart</button> 
		</div>
	</div>
</div>
